/* I made variables for colours, because is easier remember name than hexanumber for colour. */
$darkblue: #0B485D;
$lightblue: #1293BE;
$lightred: #DA4F00;
$darkred: #943D0C;
$yellow: #FFC25F;
/* Theme is used for footer and navs border */
@mixin theme() {
    border: 5px solid $yellow;
    background-color: $lightblue;
}
body {
    margin: 0;
    font-family: 'Livvic', sans-serif;
    font-size: 1.2em;
    height: 98vh;
    background-color: #bad8e2;
}

#navbar {
    @include theme;
    font-weight: bold;
    #navbar a:hover {
        color: $darkblue;
    }
}

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5 {
    font-family: 'Caveat Brush', cursive;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 10px;
    color: $darkblue;
}

h6 {
    font-family: 'Caveat Brush', cursive;
    font-size: 1em + 0.5em;
    color: $lightblue;
}
/* Highlights footers last list item. */
li ~ li {
    color: $lightred;
}

a:hover {
    color: $lightblue;
}

p, a, footer{
    font-family: 'Livvic', sans-serif;
    font-size: 1.1em;
}

.nav-item {
    padding:5px;
}
/* Just normal footer child img structure. */
footer {
    display: flex;
    @include theme;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    img {
        max-height: 100px;
        background-color: white;
    }
}

.team {
    display: flex;
    color: black;
    align-items: flex-end;
}

li.footer-item {
    padding:3px;
}
/* I didn't know how to force display setting for this class, so I had to use important. */
.disappear  {
    display: none !important;
}

button {
    color: $darkblue;
    background-color: $lightblue;
    padding: 15px;
    :hover {
        color: $darkred;
        background-color: $yellow;
    }
}
/* Highlights star over -button. */
button + button {
    background-color: $lightred;
}
/* Changes colours for answer buttons witch are divQuestion -divs children. */
#divQuestion > [id^=ans] {
    background-color: $lightred;
    margin: 15px;
    padding: 10px;
}

#startButton {
    position: absolute;
    top: 500px;
}

#divQuestion{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid $darkblue;
    border-radius: 18px;
    > button:hover {
        color: $darkred;
        background-color: $yellow;
    }
}

#answerBox, #points {
    margin-top: 10px;
}

answerP {
    margin-bottom: 0px;
}

#points {
    justify-content: center;
    display: flex;
    flex: auto;
    p {
        padding: 0px 5px 0px 5px;
        font-size: 2em;
        color: $darkblue;
    }
}

#mascot {
    justify-content: center;
}

#mascotPicture {
    margin-top: 75px;
    height: 200px;
    width: auto;
}

#headerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media screen and (max-width: 990px){

.container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
} 

footer img{
    display: none;
}
  
#content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: fit-content;
}

#startButton {
    position: absolute;
    top: 400px;
}
}